{% extends 'base.html'%}
{% load website_tags %}
{% load static %}
{% block content %}
<section id="hero" class="hero">

  <div class="info d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 data-aos="fade-down"><span>Building Dreams, Constructing Futures.</span></h2>
          <p data-aos="fade-up">Transforming Skylines and Communities: Our construction expertise brings your vision to
            life with precision and sustainability at the forefront. From groundbreaking to ribbon-cutting, we’re
            dedicated to elevating standards and delivering excellence. Join us in shaping a world where every structure
            is built for the future.</p>
          <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active"
      style="background-image: url({% static 'img/hero-carousel/hero-carousel-1.jpg' %})"></div>
    <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-2.jpg' %})">
    </div>
    <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-3.jpg' %})">
    </div>
    <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-4.jpg' %})">
    </div>
    <div class="carousel-item" style="background-image: url({% static 'img/hero-carousel/hero-carousel-5.jpg' %})">
    </div>

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>

</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Get Started Section ======= -->
  <section id="get-started" class="get-started section-bg">
    <div class="container">

      <div class="row justify-content-between gy-4">

        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
          <div class="content">
            <h3>We cannot reject them any less here..</h3>
            <p>That is the reality of things. Debts are abandoned indeed, we lead the selected expedient pain. Or just
              herself. Let us, therefore, see them in flight. He is going to flee altogether unless we are able to say
              the chosen one.</p>
            <p>But some of them want to leave. Inventor and often. He is bound to take up the hard work of choosing
              them. They forsake the great ones who, with their needs, are pained by the desire of their souls..</p>
          </div>
        </div>

        <div class="form-container">
          <form action="{% url 'website:index' %}" method="post">
            <h3>Get a quote</h3>
            <p>Or we hate the hard work and here the pleasure. Inventor's whole life. Things to be repelled for linead
              late park flows..</p>
            <div class="row gy-3">
              {% csrf_token %}
              <div class="col-md-12">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
              </div>

              <div class="col-md-12 ">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="phone_number" placeholder="Phone number" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>
              {{ form.captcha }}
              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>

                <button type="submit">Get a quote</button>
              </div>

            </div>
          </form>
        </div><!-- End Quote Form -->

      </div>

    </div>
  </section><!-- End Get Started Section -->

  <!-- ======= Constructions Section ======= -->
  <section id="constructions" class="constructions">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Constructions</h2>
        <p>They do not know how to do any of the pains, but to find out what they are going to do, they have nothing to
          do with the pain of their pain</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url({% static 'img/constructions-1.jpg' %});"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">All are to be chosen of the truth</h4>
                  <p>Escape into pain and guilt. We may be able to gain the pleasure of being pampered in ways they
                    don't know. When chosen by pains not truth. The services at that time are great. Pain them and.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url({% static 'img/constructions-2.jpg' %});"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">We can assume that he wants to </h4>
                  <p>There are those who abandon their elders, but the pleasure of bearing things is the flattery of
                    things. It is laborious that
                    He was never an architect of laborious pleasure. There are praisers, but some here. We deserve him.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url({% static 'img/constructions-3.jpg' %});"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">The error of the happy pain finder or</h4>
                  <p>Tell us further. Like when in. They do not know that they are worthy of the easy trouble which
                    everyone seeks. Nor do you owe him, but the architect hates laborious duties. As the times are,
                    there is no fault.</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card-item">
            <div class="row">
              <div class="col-xl-5">
                <div class="card-bg" style="background-image: url({% static 'img/constructions-4.jpg' %});"></div>
              </div>
              <div class="col-xl-7 d-flex align-items-center">
                <div class="card-body">
                  <h4 class="card-title">It is a pleasure that they do not know</h4>
                  <p>Or indeed, who will receive great pain and pleasure because He them and the pain of that architect
                    but the pain of the beatitude. Let him flee and take pains. Or something to free us from those
                    pains.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>
  </section><!-- End Constructions Section -->



  <!-- ======= Features Section ======= -->
  <section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

      <ul class="nav nav-tabs row  g-2 d-flex">

        <li class="nav-item col-3">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>Modisit</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>Present</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <h4>Explain</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
            <h4>Nostrum</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
              data-aos="fade-up" data-aos-delay="100">
              <h3>They provide the most valuable pleasure</h3>
              <p class="fst-italic">
                It is important to take care of the patient, to be followed by the patient, but it will happen at such a
                time that there is a lot of work and pain.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris required and aliquip ex and comfortable consequat.
                </li>
                <li><i class="bi bi-check2-all"></i> Doubts or irrure pain in reprimands in the pleasure he wants.</li>
                <li><i class="bi bi-check2-all"></i> I do not work at all except to get some advantage out of it. Or two
                  irure pain in reprimands in pleasure three-legged storacalaperda mastir pain eu no one flees
                  be born.
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'img/features-1.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>You don't have to exercise</h3>
              <p class="fst-italic">
                It is important to take care of the patient, to be followed by the patient, but it will happen at such a
                time that there is a lot of work and pain.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> I do not work at all except to get some advantage out of it.</li>
                <li><i class="bi bi-check2-all"></i> Doubts or irrure pain in reprimands in the pleasure he wants.</li>
                <li><i class="bi bi-check2-all"></i> They provide for resilience, nor for the harsher pains of things,
                  which those who a. Neither pain itself nor pleasure but.</li>
                <li><i class="bi bi-check2-all"></i> I do not work at all except to get some advantage out of it. Duis
                  austere irrure pain in reprehendit in pleasure tridetas storacalaperda mastir pain eu fu una brevet.
                </li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="{% static 'img/features-2.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>We accuse him of the pleasures of convenience</h3>
              <ul>
                <li><i class="bi bi-check2-all"></i> I do not work at all except to get some advantage out of it.</li>
                <li><i class="bi bi-check2-all"></i> Doubts or irrure pain in reprimands in the pleasure he wants.</li>
                <li><i class="bi bi-check2-all"></i> They provide for resilience, nor for the harsher pains of things,
                  which those who a. Neither pain itself nor pleasure but.</li>
              </ul>
              <p class="fst-italic">
                It is important to take care of the patient, to be followed by the patient, but it will happen at such a
                time that there is a lot of work and pain.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="{% static 'img/features-3.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Everyone should run away from them</h3>
              <ul>
                <li><i class="bi bi-check2-all"></i> I do not work at all except to get some advantage out of it.</li>
                <li><i class="bi bi-check2-all"></i> Doubts or irrure pain in reprimands in the pleasure he wants.</li>
                <li><i class="bi bi-check2-all"></i> They provide for resilience, nor for the harsher pains of things,
                  which those who a. Neither pain itself nor pleasure but.</li>
              </ul>
              <p class="fst-italic">
                It is important to take care of the patient, to be followed by the patient, but it will happen at such a
                time that there is a lot of work and pain.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="{% static 'img/features-4.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Our Projects Section ======= -->

  {% our_projects %}

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Testimonials</h2>
        <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia
          reprehenderit sunt deleniti</p>
      </div>

      <div class="slides-2 swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                  quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                  tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                  minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                  labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  {% recent %}
</main><!-- End #main -->

{% endblock %}