{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize%}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center"
    style="background-image: url('{% static 'img/breadcrumbs-bg.jpg' %}');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      <h2>Blog</h2>
      <ol>
        <li><a href="{% url 'website:index' %}">Home</a></li>
        <li>Blog</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 posts-list">
        {% for post in posts %}
        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100">
            <div class="post-img position-relative overflow-hidden">
              <img src="{{post.image.url}}" class="img-fluid" alt="">
              <span class="post-date">{{post.published_date|date:'d M Y'}}</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">{{post.title}}</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i><span class="ps-2">{{post.author.get_full_name}}</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                {% for cat in post.category.all %}
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">{{cat.name}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </span>
                </div>
              </div>

              <p>
                {{post.content|truncatewords:4|safe}}
              </p>

              <hr>

              <a href="{% url 'Blog:details' pid=post.id %}" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>
          </div>
        </div><!-- End post list item -->
        {% endfor %}
      </div><!-- End blog posts list -->

      <div class="blog-pagination">
        <ul class="justify-content-center">
          {% if posts.has_previous %}
          <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
          <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
          {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}

          {% if posts.has_next %}
          <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </div><!-- End blog pagination -->
      
    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock %}